.btn{
    cursor: pointer;
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
    transition: background 0.5s;

}
.ctn{
    background: #F5B041;
    color: black;
    padding: 8px 30px;
    margin: 30px 0;
        cursor: pointer;

}
.ctn:hover{
    background: white;
}
